{#
/*
 * For Morphs
 * - content.field_cp_cost: Does what it says on the tin.
 * - content.field_stats: Inherent morph-stats, and bonuses for ego stats.
 * - content.field_stat_variance: Flexible bonuses that vary per morph instance.
 * - content.field_stat_cap: The morph's built-in ceiling on stats, including bonuses.
 * - content.field_traits: Any morph traits associated with the shell.
 * - content.field_augmentations: Any augmentations that come standard.
 * - content.field_skills: Built-in skill bonuses, like 'swimming' for dolphins.
 */
#}
{% extends "node--full.html.twig" %}
{% block callout_content %}
  {{ parent() }}
  {% set fixed_bonuses = content.field_stats|field_value %}
  {% set general_bonuses = content.field_stat_variance|field_value|safe_join(', ') %}
  {% set all_bonuses = [fixed_bonuses, general_bonuses]|safe_join(', ') %}

  <p>Durability: {{ content.field_stats|field_raw('dur') }}</p>
  {% if all_bonuses %}<p>Stat Bonuses: {{ all_bonuses }}</p>{% endif %}
{% endblock %}
{% block stats %}{% endblock %}
