<table class="table table-condensed table-bordered table-statblock">
  {% set properties = [['cog', 'coo', 'int', 'ref', 'sav', 'som', 'wil', 'mox'],  ['init', 'spd', 'luc', 'tt', 'ir', 'dur', 'wt', 'dr']] %}
  {% for property_group in properties %}
    <thead>
    {% for property in property_group %}
      <th>{{ property|upper }}</th>
    {% endfor %}
    </thead>
    <tr>
      {% for property in property_group %}
        {% set constant = attribute(stats.total.constant, property) %}
        {% set conditional = attribute(stats.total.conditional, property) %}

        <td>
          {{ constant ?: '—' }}
          {% if (conditional and (conditional != constant)) %}
            ({{ conditional }})
          {% endif %}
        </td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>
