<table class="pc-skills">
  <thead>
  <td>Attribute</td>
  <td>Skill</td>
  <td>Specialization</td>
  <td>Base</td>
  <td>Bonus</td>
  <td>Total</td>
  <td></td>
  </thead>
  <tbody>
  {% foreach skill in skills -%}
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  {%- endfor %}
  </tbody>
</table>