{#
/**
* @file
* Default theme implementation for a 'form' element.
*
* Available variables
* - attributes: A list of HTML attributes for the wrapper element.
* - element: The child elements of the form.
*
* @see template_preprocess_form()
*
* @ingroup themeable
*/
#}

{% if element.needs_character %}
  <div class="alert alert-warning" role="alert">{ element.needs_character }}</div>{
{% endif %}

<div class="form-inline">
  {{ element.field_character }}
{{ element.field_obscure_id }}
</div>

{{ element|without('field_character','field_obscure_id') }}