{#
/**
* @file
* Default theme implementation for a 'form' element.
*
* Available variables
* - attributes: A list of HTML attributes for the wrapper element.
* - element: The child elements of the form.
*
* @see template_preprocess_form()
*
* @ingroup themeable
*/
#}
<form{{ attributes }}>
  <div class="modal-body">
    {{ element }}
  </div>
  {# sadly, 'without' isn't working so SOL
  <div class="modal-footer">
    {{ element.cancel }}
    {{ element.send_invitation }}
  </div><!-- /.modal-footer -->
  #}
</form>
