/**
 * Place your custom styles here.
 */

.region-support .block, .region-recirc .block {
  margin-bottom: 15px;
  margin-top: 15px;
}

.form-control-inline {
  min-width: 0;
  width: 100%;
  display: inline-block;
}

.col-left-spread {
  padding-left: 0;
}

.col-right-spread {
  padding-right: 0;
}

.col-spread {
  padding-left: 0;
  padding-right: 0;
}

/**
 * Statblock tables should have centered text, no margins between header and body,
 * inverted headers, and horizontal padding between cells.
 *
 */
table.table-statblock thead th {
  text-align: center;
  border-width: 1px;
  color: #1c1e22;
  background-color: #7a8288;
}

table.table-statblock tr td {
  text-align: center;
  border-width: 1px;
}

.dl-horizontal dd {
  margin-left: 95px;
}


.dl-horizontal dt {
  width: 80px;
}
