{#
/**
* @file
* Output template for an equipped weapon entity.
*
* Available variables:
* - entity: The equipped weapon record in its entirety
* - effects: An array of strings describing special weapon effects
*
*/
#}
<dt {{ attributes }}><span class="label label-danger text-uppercase">armor</span></dt>
<dd> e / k
  ({{ entity.field_armor|field_value }}{% if entity.field_armor_mods is not empty %}
    w/ {{ entity.field_armor_mods|field_value|safe_join(', ') }}{% endif %})
</dd>
{% if effects %}<dd>{{ effects|safe_join(' ') }}</dd>{% endif %}
