{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *
 * @ingroup templates
 */
#}
{% if items %}
<div class="dropup pull-right">
  <button class="btn btn-default dropdown-toggle" type="button" id="accountDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span class="sr-only">{{ menu_name }}</span>
    <span class="glyphicon glyphicon-user"></span>
  </button>
  <ul{{ attributes.addClass('dropdown-menu') }} aria-labelledby="accountDropdown">
    {% for item in items %}
      {% if item.title == '-' %}
      <li role="separator" class="divider"></li>
      {% else %}
      <li{{ item.attributes.addClass(item_classes) }}>
        {{ link(item.title, item.url) }}
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
{% endif %}
